<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
    </tr>
    <tbody>
    <tr th:each="user: ${users}" >

        <td th:text="${user.getId()}"/>
        <td th:text="${user.getName()}"/>
        <td th:text="${user.getSurname()}"/>
    </tr>
    </tbody>
</table>
<a href="new">Add new user these</a>
</body>
</html>